@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;

    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
    font-display: swap;
}

:root {
    --color-black: #000000;
    --color-dark: #333333;
    --color-Armadillo: #312A28;
    --color-orange: #E4540C;
    --color-Mantle: #8c998c;
    --color-dusty-gray: #999999;
    --color-dusty_gray2: #969696;
    --color-biloba-flower: #d1a9f0;
    --color-heliotrope: #C283F3;
    --color-amethyst: #9D5CD0;
    --color-royal-purple: #7943A4;
    --color-apple: #30BF39;
    --color-curious-blue: #26A5E4;
    --color-thunderbird: #D11616;
    --color-silver: #CACACA;
    --color-white: #ffffff;
    --color-gallery: #ECECEC;
    --color-transparent-black: rgba(0, 0, 0, 0.5);
    --font-family-OpenSans: ;
'OpenSans', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* .visually-hidden {
  position: absolute ;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 ;
  border: 0 ;
  height: 1px ;
  width: 1px ;
  overflow: hidden;
} */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    /*background-color: #F28046;*/
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.logo {
    border: none;
    outline: none;
    /*margin-left: -332px;*/
}

.container {
    margin: 0 auto;
    padding: 0 52px;
    max-width: 1920px;
}

.site-container {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.burger {
    display: none;
}

.header {
    color: var(--color-white);
    /*background-color: var(--color-Armadillo);*/
    background-color: var(--color-black);
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
}

.nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__item:not(:last-child) {
    margin-right: 38px;
    letter-spacing: 1.5px;
}

.nav__link {
    position: relative;
    z-index: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-white);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: color;
    text-align: center;
    outline: none;
    /* outline-offset: 0px; */
}

.nav__link::after {
    content: "";
    position: absolute;
    left: -6px;
    top: -2px;
    right: -6px;
    bottom: -4px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: var(--color-royal-purple);
}

.nav__link:focus-visible::after {
    opacity: 1;
}

.nav__link:hover {
    color: var(--color-orange);
}

.nav__link:active {
    color: var(--color-royal-purple);
}


a.user {
    padding-left: 20px;
}

.menu_user {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 23%;
}

.menu_user_icon g path {
    fill: var(--color-white);
    color: var(--color-white);
}

.menu_user_icon path g {
    fill: var(--color-orange);
    stroke: var(--color-orange);
    color: var(--color-orange);
}

.menu_user_icon:hover path {
    fill: var(--color-orange);
    color: var(--color-royal-purple);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #6c757d;
    border-radius: 10px;
}

.product__image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.center {
    color: var(--color-white);
    background-color: var(--color-Armadillo);
    /*background-color: #C78B53;*/
    /*background-color: #F28046;*/
}

.center__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px 400px 200px;
    flex-wrap: wrap;
    /*gap: 150px;*/
    row-gap: 150px;
}

.footer {
    color: var(--color-white);
    background-color: var(--color-black);
}

.footer__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
}

.footer__left {

}

.footer__center {

}

.center__list{
    margin: 10px 30px 32px 133px;
}

.center__item {
    margin-bottom: 20px;
    font-size: 16px;
}

.center__text{
    margin: 0 0;
}


.footer__right {
    margin-top: -55px;
}

.logo-footer {
    width: 27%;
}

.left__item:not(:last-child) {
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 0.95px;
}


.product__title {
    width: 300px;
    /*margin: 10px 0;*/
    text-align: center;
}

.product__price{
    width: 300px;
    margin: 0 0 30px;
    text-align: center;
}

.right__text{
    width: 300px;
    margin: 0 0 15px 0;
    font-size: 15px;
    color: var(--color-Mantle);
}
.right__link{
    color: var(--color-orange);
}

/*.flex {*/
/*    display: none;*/
/*}*/

.hidden div p {
    display: none;
}

/*.text-sm{*/
/*    display: none;*/
/*}*/

/*.hidden > span {*/
/*    width: 100%;*/
/*    display: block;*/
/*    justify-content: space-between;*/
/*}*/
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main{
    flex-grow: 1;
}

.container__left {
    /*max-width: 1560px;*/
    /*padding: 0 10px;*/
    /*min-width: 300px;*/
    /*margin: 0 auto;*/
    /*text-align: left;*/
}

.work__item{
    display: flex;
}

.map{
    width: 1300px;
    height: 700px;
}

